@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype'); /* замените на путь к вашему ttf-файлу */
}

@font-face {
  font-family: 'KronaOne';
  src: url('../fonts/KronaOne-Regular.ttf') format('truetype'); /* замените на путь к вашему ttf-файлу */
}
